<!DOCTYPE html>
<html>

<style>
    .post-container{
        background-color: white; 
        margin: 16px;
        padding: 16px;
        border-radius: 5px;
        border: solid 1px rgb(199, 199, 199)
    }
</style>

<body style="background-color: rgb(235, 235, 235)">
    Esto es una lista de nuestros posts

    <form class='post-container' action="/post" method="POST">
        <div>Create Post</div>
        <input name='title' type="text" placeholder="Post Title">
        <input name='postBody' type="text" placeholder="Post Body">
        <button type="submit">Submit</button>
    </form>

    <div>
        <% allPosts.forEach(p => { %>
            <div class='post-container'>
                <div><%= p.title %></div>
                <div><%= p.body %></div>
            </div>
        <% }) %>

    </div>
</body>
</html>